body,
html {
    font-family: var(--vscode-font-family);
    font-size: var(--vscode-font-size);
    font-weight: var(--vscode-font-weight);
    background: var(--vscode-editor-background);
    height: 100%;
}
.contentRoot {
    height: 100%;
}
.CodeMirror {
    background: var(--vscode-editor-background) !important;
    color: var(--vscode-editor-foreground) !important;
}
.CodeMirror-gutters {
    background: var(--vscode-editor-background) !important;
    color: var(--vscode-editor-foreground) !important;
    border: none !important;
}
.CodeMirror-linenumber {
    color: var(--vscode-editorLineNumber-foreground) !important;
    text-align: center !important;
}
#visualization {
    box-sizing: border-box;
    width: 100%;
    height: 300px;
}
.vis-timeline {
    border: none !important;
}
.vis-panel {
    border: none !important;
}
.vis-item {
    background-color: var(--vscode-tab-inactiveBackground) !important;
    color: var(--vscode-editor-foreground) !important;
    border-color: var(--vscode-editor-foreground) !important;
}
.vis-labelset .vis-label {
    border-bottom: 2px solid var(--vscode-tab-border) !important;
}
.vis-foreground .vis-group {
    border-bottom: 2px solid var(--vscode-tab-border) !important;
}
.vis-background {
    display: none;
}
.vis-item.vis-background {
    background-color: rgba(0, 0, 0, 0.02) !important;
}
.vis-label.vis-nested-group {
    background-color: var(--vscode-tab-inactiveBackground) !important;
    color: var(--vscode-tab-inactiveForeground) !important;
}
.vis-label.vis-nested-group.expanded {
    background-color: var(--vscode-tab-activeBackground) !important;
    color: var(--vscode-tab-activeForeground) !important;
}
.vis-labelset .vis-label .vis-inner {
    text-overflow: ellipsis;
    max-width: 400px;
    color: var(--vscode-editor-foreground);
}
.vis-time-axis .vis-grid.vis-minor {
    border: none !important;
}
.vis-time-axis .vis-grid.vis-minor {
    border: none !important;
}
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: var(--vscode-editorGroupHeader-tabsBackground);
    border: 1px solid var(--vscode-editorGroupHeader-tabsBorder);
    border-right: 2px solid var(--vscode-tab-border) !important;
    overflow-x: hidden; /* Disable horizontal scroll */
}
.main {
    margin-left: 140px;
    margin-right: -20px;
    height: 100%;
}
.nav-pills .nav-link.active {
    background-color: var(--vscode-tab-activeBackground) !important;
    color: var(--vscode-tab-activeForeground) !important;
}
.nav-pills .nav-link {
    background-color: var(--vscode-tab-inactiveBackground) !important;
    color: var(--vscode-tab-inactiveForeground) !important;
    border-radius: 0px;
    border-bottom: 2px solid var(--vscode-tab-border) !important;
}
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 70px;
    height: 50px;
}
.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: var(--vscode-editor-foreground);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}
.rendering {
    text-align: center;
}
.no-data {
    text-align: center;
    color: var(--vscode-editor-foreground);
}
.btn {
    background-color: var(--vscode-button-background) !important;
    color: var(--vscode-button-foreground) !important;
    border-radius: 0px !important;
    width: 100% !important;
    margin-bottom: 5px !important;
    height: 27px !important;
    padding-top: 2px !important;
}
.btn:hover {
    background-color: var(--vscode-button-hoverBackground) !important;
    color: var(--vscode-button-foreground) !important;
}
